<div class="modal-content" *ngIf="product">
    <div class="modal-header">
        <!--begin::Modal title-->
        <h3 class="p-2">{{product.title}}</h3>
        <!--end::Modal title-->
        <!--begin::Close-->
        <button class="btn btn-success" (click)="closeModal()">
            x
            <!--end::Svg Icon-->
        </button>
        <!--end::Close-->
    </div>
    <div class="  m-3 p-3 bg-white"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2">
            <lazy-image
            class="imagecss"
            [url]="product.image"
            alt="No name"
            >
        </lazy-image>
            
            <div>
                <h3 class="mt-2 text-black-80">{{product.category}}</h3>
            </div>
        </div>
        <div class="stats mt-2">
            {{product.description}}
        </div>
        <div class="d-flex justify-content-between total font-weight-bold mt-4">
            <span>Price</span><span>${{product.price}}</span>
        </div>
    </div>
</div>